body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

h1,h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

button:active{
    transform: scale(0.95);
}

.table-responsive {
    margin: 20px;
}

nav {
    text-align: center;
}

.dt-info {
    text-align: center;
}

.add {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.modal-content label{
    text-align: left;
}

.modal-header, .modal-footer {
    background-color: rgb(128, 32, 32);
    color: wheat;
}

.modal-footer select, textarea {
    background-color: rgb(166, 106, 106);
    color: white;
}

.btn-close {
    background-color: wheat;
}