body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

h1,h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

button:active{
    transform: scale(0.95);
}

.table-responsive {
    margin: 20px;
}

nav {
    text-align: center;
}

.dt-info {
    text-align: center;
}

#inventory-table, #history-table {
    text-align: center;
}

.add {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.modal-content label{
    text-align: left;
}

.worker {
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: #ccc;
}